<ion-header>
        <ion-toolbar style="background-color:#525b6d">
            <ion-buttons left>
                    <button ion-button (click)="goBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
            </ion-buttons>
            <ion-title style="text-transform: capitalize;text-align: center" style="font-size: 1.7rem; text-align: center;">
                    Receipt</ion-title>
            <ion-buttons end>
                <button id="notification-button" ion-button icon-only clear>
                    <ion-icon name="notifications">
                    </ion-icon>
                </button>
            </ion-buttons>
            <ion-buttons end>
                <button ion-button icon-only *ngIf="myprofilecount === 1;">
                    <div *ngFor="let image of myprofile; index as i;" style="width: 40px;height: 40px;">
                    <ion-icon><img class="myprofile-picture" [src]="getImage(image.ID)"></ion-icon>
                    </div>
                </button>
                  <button ion-button icon-only style="color: #ffffff;" *ngIf="myprofilecount === 0;">
                      <ion-icon name="contact"></ion-icon>
                </button>
          </ion-buttons>
        </ion-toolbar>
    </ion-header>


<ion-content padding style="background-image: url(assets/imgs/wallpaper.png);background-repeat: no-repeat;
background-size: cover; background-position: center;
    background-attachment: fixed;">
    <ion-grid>
        <ion-row>
            <ion-col col-12></ion-col>
        </ion-row>
        <ion-row class="logo-row" style="padding-bottom: 0px;">
            <ion-col col-4 style="top: -40px !important;"></ion-col>
            <ion-col col-4 style="top: -40px !important;">
                <img src="assets/imgs/logo_new.png" style="width:150px; height:auto;" />
            </ion-col>
            <ion-col col-4 style="top: -40px !important;"></ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab top right edge style="position: absolute; top: auto;">
        <button ion-fab mini (click)="opencreateModal()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

    <ion-grid style="margin-top: -30px;">
        <ion-row>
            <ion-col>
                <ion-card class="dash_image" text-center (click)="submited_btn(1)" style="background: linear-gradient(90deg,#38e0c4,#7fb5ff) !important;">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-8 style="margin-top: 5px;">
                                <h2>Received (Collected on site)</h2>
                            </ion-col>
                            <ion-col col-2>
                                <ion-badge item-end>{{ submited_count?.length || '0'}}</ion-badge>
                            </ion-col>
                            <ion-col col-2>
                                <i class="fa fa-chevron-circle-right"></i>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="dash_image" text-center (click)="Collected_On_Site_btn(2)" style="background: linear-gradient(90deg,#38e0c4,#7fb5ff) !important;">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-8 style="margin-top: 5px;">
                                <h2>Received (Back office )</h2>
                            </ion-col>
                            <ion-col col-2>
                                <ion-badge item-end>{{ Collected_On_Site_count?.length || '0'}}</ion-badge>
                            </ion-col>
                            <ion-col col-2>
                                <i class="fa fa-chevron-circle-right"></i>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="dash_image" text-center (click)="Received_from_site_btn(3)" style="background: linear-gradient(90deg,#38e0c4,#7fb5ff) !important;">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-8 style="margin-top: 5px;">
                                <h2>Finance<br> (Received from Back Office)</h2>
                            </ion-col>
                            <ion-col col-2 style="margin-top: 10px;">
                                <ion-badge item-end>{{ Received_from_site_count?.length || '0'}}</ion-badge>
                            </ion-col>
                            <ion-col col-2 style="margin-top: 10px;">
                                <i class="fa fa-chevron-circle-right"></i>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="dash_image" text-center (click)="All_Receipts_btn()" style="background: linear-gradient(90deg,#38e0c4,#7fb5ff) !important;">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-8 style="margin-top: 5px;">
                                <h2>All Receipts</h2>
                            </ion-col>
                            <ion-col col-2>
                                <ion-badge item-end>{{All_Receipts_count?.length || '0'}}</ion-badge>
                            </ion-col>
                            <ion-col col-2>
                                <i class="fa fa-chevron-circle-right"></i>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="dash_image" text-center (click)="Security_Cheque_btn()" style="background: linear-gradient(90deg,#38e0c4,#7fb5ff) !important;">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-8 style="margin-top: 5px;">
                                <h2>All Security Cheque</h2>
                            </ion-col>
                            <ion-col col-2>
                                <ion-badge item-end>{{All_Security_Cheque?.length || '0'}}</ion-badge>
                            </ion-col>
                            <ion-col col-2>
                                <i class="fa fa-chevron-circle-right"></i>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>